html, body {
  text-align: center;
  background: #FBFCD4;
  color: #ff6f69;
  font-size: 1.0em;
}


h1 {
  font-size: 1.4em;
}

i {
   font-size: 1.3em;
   color: #FBFCD4;
}

.ui.inverted.menu {
  background: #ff6f69;
  font-size: 20px;
  text-align: right;
}

.ui.inverted.segment {
  background: #ff6f69;
  font-size: 10px;
}

.para {
  margin: 30px
}

.project-tile {
  margin: 10px 10px 10px 10px;
  border: 10px solid #ff6f69;
}

#projects {
  margin: 40px 0px 60px 0px;
}

/* logo sign for freecodecamp */
#profile-link {
  font-size: 1.4em;
}

#main-section {
  font-size: 1.4em;
  margin: 100px 20px 10px 20px;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 14px;
  }
  
  .para {
    margin: 10px
  }
  
  @media only screen and (max-width: 450px) {
  body {
    font-size: 12px
      
  }
  
  
}
